.cert {
  transition: all 0.15s linear;
}

.cert:hover {
  transform: translate(10px, -20px);
  z-index: 0;
}

.topup {
  transition: all 0.25s linear;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: grey;
  color: white;
  gap: 20px;
  border-radius: 10px;
  width: 100%;
  padding: 0px 20px 20px 20px;
  height: 300px;
  /* bottom: 0; */
}

.cert:hover .topup {
  top: 0;
  /* z-index: 10; */
  background-color: rgba(199, 173, 173, 0.767);
}
