.cert {
  transition: all 0.15s linear;
}

.cert:hover {
  transform: translate(10px, -20px);
  /* z-index: 0; */
}

.topup {
  transition: all 0.25s linear;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.064);
  color: white;
  gap: 20px;
  border-radius: 10px;
  width: 100%;
  padding: 0px 20px 20px 20px;
  height: 100%;
  /* bottom: 0; */
}

/* .cert:hover .topup {
  top: 0;
  background-color: rgba(199, 173, 173, 0.767);
} */

