* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.color-tester {
  color: rgb(88, 86, 86);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.align-start {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.align-end {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.just-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.just-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.space-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.end-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.col-start-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.col-end-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.col-end-start {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.col-start-end {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.col-start-space {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
